- content_for :title do
  = @trip.title

.middle
  <!-- content -->
  .wrapper
    .content
      <!-- page text -->
      %div{:class => "text box-white"}
        .post
          .post-descr
            Exotic
          %h1
            Antigua's Johnson Point

          %div{:class => "post-descr bordered"}
            %em
              Often voted as Antiguas’ most beautiful beach

          %div{:class => "project-img gallery"}
            = image_tag "img7.jpg", :size => "504x208", :border => "0"
            %a.btn-screens{:href => @trip.master_image.path(:full_path => true), :rel => "prettyPhoto[gallery1]"}
              Live preview
          .post-entry
            %p
              = @trip.description
            %p
              = link_to "See detailed itinerary...", trip_day_schedules_path(@trip)

              = image_tag "img-features.gif", :size => "227x305", :border => "0", :class => "alignright noborder"

          .clear

          %div{:class => "post-descr bordered"}
            %em
              Screenshots
            .screenshots
              %ul{:class => "gallery clearfix"}
                = render @images
            .clear

            :javascript
              $(document).ready(function(){
                  $(".gallery a[rel^='prettyPhoto']").prettyPhoto({overlay_gallery:false});
              });
      <!--/ page text -->
  <!--/ content -->

  <!-- navigation -->
  .navigation
    .box-white
      %h3
        Latest offer
      .work-name
        %a{:href => "#"}
          Koh Samui
      .work-descr
        Idyllic beach setting.
      .work-image
        %a{:href => "#"}
          = image_tag "tmp_work_1.jpg", :size => "220x105", :border => "0"
      .link-go
        %a{:href => "#"}
          %strong
            Go to Destinations

    %div{:class => "box-black list-arrows"}
      %h3
        Tags
      %ul
        %li
          Beach
        %li
          Warm
        %li
          Snorkeling
        %li
          Cliffs
    %br
  <!--/ navigation -->
  .clear
<!--/ middle -->

