- content_for :title do
  = @trip.title

.middle
  <!-- content -->
  .wrapper
    .content
      %div{:class => "text box-white"}
      <!-- page text -->
        .post
          .post-descr
            Exotic
          %h1
            Antigua's Johnson Point

          %div{:class => "post-descr bordered"}
            %em
              Often voted as Antiguas’ most beautiful beach

            %div{:class => "project-img gallery"}
              = image_tag "img7.jpg", :height => "208", :width => "504", :border => "0"
              %a.btn-preview{:href="#"}
                Live preview

              %a.btn-screens{:href => "screens/tmp_screen_1.jpg", :rel => "prettyPhoto[gallery1]"}
                Live preview
            .post-entry
              %p
                %strong
                  It is a long established fact
                that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                = image_tag "img-features.gif" :width => "227", :height => "304" :border => "0", :class => "alignright noborder"

              %p
                %strong
                  It is a long established fact
                that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

              %p
                %strong
                  It is a long established fact
                that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.

            .clear

          %div{:class => "post-descr bordered"}
            %em
              Screenshots
            .screenshots
              %ul{:class => "gallery clearfix"}
                = render @images
            .clear

            :javascript
              $(document).ready(function(){
                  $(".gallery a[rel^='prettyPhoto']").prettyPhoto({overlay_gallery:false});
              });
      <!--/ page text -->
  <!--/ content -->

  <!-- navigation -->
  .navigation
    .box-white
      %h3
        Latest offer
      .work-name
        %a{:href => "#"}
          Koh Samui
      .work-descr="work-descr"
        Idyllic beach setting.
      .work-image
        %a{:href => "#"}
          = image_tag "tmp_work_1.jpg", :size => "220x105", :border="0"
      .link-go
        %a{:href => "#"}
          %strong
            Go to Destinations

    %div{:class => "box-black list-arrows"}
      %h3
        Tags
      %ul
        %li
          Beach
        %li
          Warm
        %li
          Snorkeling
        %li
          Cliffs
    %br
  <!--/ navigation -->
  .clear
<!--/ middle -->

