%h1
  -if @trip
    Day
    = day_counter + 1
    \-
  = day.title.titleize
%p
  = day.description
%p
  = link_to "Read more", day_activity_schedules_path(day)
  |
  - link_text = "Add to Itinerary"
  - if current_trip
    = link_to link_text, trip_day_schedule_path(current_trip), :method => :create
  - else
    = link_to link_text, new_user_session_path

