!!!

%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}

    %title
      ExquisiteWorks -
      = yield :title

    %meta{:name => "author", :content => "WebCrafters"}
    %meta{:name => "description", :content => "A short description of your company"}
    %meta{:name => "keywords", :content => "Some keywords that best describe your business. Try to use these words in the texts from the page"}
    %meta{:name => "language", :content => "english"}

    = csrf_meta_tag
    = stylesheet_link_tag 'stylesheet'

    = javascript_include_tag 'jquery-1.3.2.min'
    = javascript_include_tag 'ui.core'
    = javascript_include_tag 'ui.tabs'
    = javascript_include_tag 'jquery.curvycorners.min'

    :javascript
      $(document).ready( function(){
        $("#tabs-services").tabs({event: 'mouseover'});
      });

      $(function(){
        settings = {
          tl: { radius: 5 },
          tr: { radius: 5 },
          bl: { radius: 5 },
          br: { radius: 5 }
          antiAlias: true,
          autoPad: true,
          validTags: ["div"]
        }
        $('.box-white').corner(settings);
        $('.box-black').corner(settings);
      });

    = yield :slider

    = javascript_include_tag 'tfuse-top-panel'
  %body
    - body_classes = [:bodywrap, :bodybg2]
    - body_classes << :homepage if defined?(@homepage) && @homepage

    %div{:class => body_classes.join(" ")}
      .container
        = render "layouts/header"
        = yield
        = render "layouts/footer"

